services/nodered/data/.flows.json.backup
[{"id":"bf88c2a2.24caf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95131561.005a78","type":"influxdb","z":"","hostname":"db-influx","port":"8086","protocol":"http","database":"water","name":"waterflow","usetls":false,"tls":""},{"id":"720e8dd5.dbcf84","type":"influxdb out","z":"bf88c2a2.24caf","influxdb":"95131561.005a78","name":"","measurement":"water","precision":"ms","retentionPolicy":"","x":640,"y":220,"wires":[]},{"id":"8d0d6afd.a93108","type":"inject","z":"bf88c2a2.24caf","name":"water publisher","topic":"water","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["17aeb9ba.7b91f6"]]},{"id":"36a5e57c.63e6fa","type":"debug","z":"bf88c2a2.24caf","name":"water pub payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":280,"wires":[]},{"id":"73a3d2f3.b12c1c","type":"inject","z":"bf88c2a2.24caf","name":"","topic":"water","payload":"{\"deviceId\":40,\"value\":55}","payloadType":"json","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["17aeb9ba.7b91f6"]]},{"id":"17aeb9ba.7b91f6","type":"function","z":"bf88c2a2.24caf","name":"","func":"\nreturn {\"time\": msg.value};","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["720e8dd5.dbcf84","36a5e57c.63e6fa"]]}]